{% extends 'backBase.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Commandes </h3>
               
            </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped ">
                                    <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> User </th>
                                        <th> Total </th>
                                        <th> Payment Method </th>
                                        <th> Status </th>
                                    </tr>
                                    </thead>
                                     {% for commande in commandes %}
                                    <tbody>
                                    <!-- ***** Yosra Note **** -->
                                    <!-- Bech t7il for lina t3abi el table -->
                                    <tr onclick="">
                                        <td class="py-1">
                                            <!-- ***** Yosra Note **** -->
                                            <!-- ***** assert('Products/'~product.id) -->
                                            <img src="{{ asset('back/images/faces-clipart/pic-1.png') }}" alt="image" />
                                        </td>
                                        <th> {{commande.id}} </th>
                                      
                                        <td> {{commande.total}} </td>
                                        <td> {{commande.paymentMethod}} </td>
                                        <td> <a class="" href="{{ path('commande_edit', {'id' : commande.id})}}">
                                                <i class="mdi mdi-pencil"></i>
                                            </a></td>
                                        <td> <a class="" href="{{ path('commande_delete', {'id' : commande.id})}}">
                                                <i class="mdi mdi-delete-forever"></i>
                                            </a></td>
                                        
          
                                    </tr>

                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
